<section class="about">
    <h1>INSTAGRAM</h1>
    <p>写真を投稿しよう</p>
    <div class=top><%= image_tag("phone.jpg") %></div>
</section>
  
<footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
</footer>
