header {
  width: 100%;
  height: auto;
}

header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: pink;
}

header li {
  width: auto;
  display: inline-block;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

footer {
  width: 100%;
  background-color:#ddd;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  min-height:100vh;
}

li {
  padding-bottom: 5px;
  font-size: 20px;
  list-style:none;
}

header img {
  max-width: 100%;
  width: 25%;
  
}
.top{
  img {
  width: 500px;
  height: 400px;
}
}

.a{
  img {
    display: block;
    display: inline-flex;
    width: 8em;
    height: 8em;
    border-radius: 10em;
  }
}
.camera img{
    width: 40px;
    height: 40px;
}

.aaa {
  img {
    display: block;
    margin: 20px auto;
  }
}
.user_info{
  img {
    display: block;
    width: 3em;
    height: 3em;
    border-radius: 10em;
  }
}
li.user_info {
  display: flex;
}
span{
  padding-left: 2em;
  font-size: 1.3em;
}

.post {
  margin-top: 20px;
  img {
    max-width: 500px;
  }
}

.aaa {
  img {
    width: 400px;
    height: 300px;
  }
}

.post{
  img {
  width: 400px;
  height: 300px;
  }
}

#topnumber{
  img{
    width: 400px;
    height: auto;
  }
}

.slide-show {
	position: relative;
	width: 500px;
	margin:0 auto;
}

.slide-show img {
	max-width: 100%;
	opacity: 0;
	left: 0 ;
	position: absolute;
	transition: opacity 1s;
}

.slide-show img.active {
	opacity: 1;
}
.blog_title{
  font-size: 1.5em;
}
.field li{
  padding: 10px;
  display: inline-block;
}
.container.user_image{
  width: 100px;
}
/*.container{
  position: relative; 
  width: 100%; 
  height: auto;
}*/